prowjob_namespace: prow
pod_namespace: test-pods
log_level: debug

deck:
  branding:
    header_color: "#DADADA"
    logo: "/static/extensions/branding/logo.png"
  spyglass:
    lenses:
    - lens:
        name: metadata
      required_files:
      - started.json|finished.json
    - lens:
        config:
        name: buildlog
      required_files:
      - build-log.txt
    - lens:
        name: podinfo
      required_files:
      - podinfo.json

plank:
  job_url_prefix_config:
    "*": https://prow.gitpod-dev.com/view/
  report_templates:
    '*': >-
        [Full PR test history](https://prow.gitpod-dev.com/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
        [Your PR dashboard](https://prow.gitpod-dev.com/pr?query=is:pr+state:open+author:{{with
        index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  default_decoration_configs:
    "*":
      gcs_configuration:
        bucket: gs://gitpod-prow-artifacts
        path_strategy: explicit
      gcs_credentials_secret: gcs-credentials
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20210707-32dc49e04b
        entrypoint: gcr.io/k8s-prow/entrypoint:v20210707-32dc49e04b
        initupload: gcr.io/k8s-prow/initupload:v20210707-32dc49e04b
        sidecar: gcr.io/k8s-prow/sidecar:v20210707-32dc49e04b

tide:
  target_url: https://prow.gitpod-dev.com/tide
  merge_method:
    gitpod-io/gitpod: rebase
    gitpod-io/gitpod-test-repo: rebase
    gitpod-io/gitbot: rebase
  queries:
  - repos:
    - gitpod-io/gitpod
    labels:
    - lgtm
    - approved
    missingLabels:
    # no one's setting this label yet because we don't have the external needs-rebase plugin set up yet
    - needs-rebase
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - do-not-merge/invalid-owners-file
  - repos:
    - gitpod-io/gitpod-test-repo
    labels:
    - lgtm
    - approved
    missingLabels:
    # no one's setting this label yet because we don't have the external needs-rebase plugin set up yet
    - needs-rebase
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - do-not-merge/invalid-owners-file
  - repos:
    - gitpod-io/gitbot
    labels:
    - lgtm
    - approved
    missingLabels:
    # no one's setting this label yet because we don't have the external needs-rebase plugin set up yet
    - needs-rebase
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - do-not-merge/invalid-owners-file
  context_options:
    # Treat unknown contexts as optional
    skip-unknown-contexts: true
    orgs:
      org:
        repos:
          "gitpod-io/gitpod":
            required-contexts:
             - "ci/werft/build"

sinker:
  resync_period: 1m
  max_prowjob_age: 48h
  max_pod_age: 24h
  terminated_pod_ttl: 2h
